/***************/
/* DESKTOP VIEW */
/***************/
/***************/

@media only screen and (min-width: 1200px) and (max-width: 2000px){
/* NAVIGATION BAR */

nav{
	display: block;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:2;
	font-family: 'Antic', serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: right;
	color: #FFFFFF ; 
	background-color: #000000;
	text-decoration: none;
	padding: 20px 150px;
}

a{
	color: #FFFFFF ; 
	text-decoration: none;
	padding: 0px 50px;
}


body{
	background-color:#F2D1D1;
}

/* INTRO PAGE */

.home {
	background-image: linear-gradient(to bottom, #FFFFFF, #F2D1D1);
	height:112.3vh;
	width:100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: 1;
}

.photo img {
	position: absolute; 
	left: 160px; 
	top: 184px;
	display: inline-block;
	height: auto;
	width: 591px;
}

@font-face {
font-family: 'Country Market';
src: url('font/Country Market.ttf'); 
}


h1 {
	display: inline-block;
	position: absolute; 
	left:850px; 
	top: 203px;
	font-family: 'Country Market';
	font-size: 140px;
	color: #000000;
	font-weight: lighter;
}

.quote {
	display: inline-block;
	position: absolute; 
	left: 850px; 
	top: 450px;
	width: 450px;
	font-family: 'Antic', serif;
	text-align: center;
	color: #000000;
	font-weight: lighter;
	font-size:200%;
}

/* ABOUT ME PAGE */

.ABT{
	scroll-margin: 200px;
}

.BIO {
    background-color: transparent;
}

.BIO h2 {
	display: inline-block;
	float: left;
	position: absolute;
	left: 168px;
	top: 1158px;
	font-size: 30px;
	font-family: 'Antic', serif;
	text-align: left;
}

.BIO p {
	display: inline-block;
	float: left;
	position: absolute;
	left: 168px;
	top: 1244px;
	width: 542px;
	height: 460px;
	font-family: 'Antic', serif;
	text-align: justify;
}

.SKILLS {
	display: inline-block;
	float: right;
	position: absolute;
	background-color: #ffffff;
	left: 839px;
	top: 1105px;
	width: 200px;
	height: 30px;
	font-family: 'Antic', serif;
	text-align: left;
	color:#000000;
	opacity: 0.7;
	padding: 53px 150px 451px 80px;
}


/* EDUCATION PAGE */

.EDU{
	scroll-margin: 200px;
}

.EDU h2{
	display: inline-block;
	float: left;
	position: absolute;
	left: 168px;
	top: 1758px;
	font-size: 30px;
	font-family: 'Antic', serif;
	text-align: left;
}

.EDU img{
	width: auto;
	height:200px;
}


.tabletennis{
	display: inline-block;
	position: absolute;
	left: 168px;
	top: 1863px;
	width: auto;
	height:200px;
	opacity: 0.7;
	padding: 20px ;
	padding-bottom: 50px;
}

.tchouk{
	display: inline-block;
	position: absolute;
	left: 460px;
	top: 1863px;
	width: auto;
	height:200px;
	opacity: 0.7;
	padding: 20px ;
	padding-bottom: 50px;
}

.grad{
	display: inline-block;
	position: absolute;
	left: 692px;
	top: 1863px;
	width: auto;
	height:200px;
	opacity: 0.7;
	padding: 20px ;
	padding-bottom: 70px;
}

.eeg{
	display: inline-block;
	float: right;
	position: absolute;
	left: 932px;
	top: 1863px;
	width: auto;
	height:200px;
	opacity: 0.7;
	padding: 20px ;
	padding-bottom: 70px;
}

.words1{
	display: none;
}

.words2{
	display: none;
}

.words3{
	display: none;
}


.words4 {
	display: none;
}

.tabletennis:hover {
	opacity: 1.0;
	padding: 20px ;
	padding-bottom: 50px;
	background-color: #ffffff;
}

.tabletennis:hover ~ .words1 {
	display:block;
	position:absolute;
	left: 228px;
	top:2090px;
	text-align: center;
	font-size: 12px;
	font-family: fantasy;
	p{margin:0}
}

.tchouk:hover {
	opacity: 1.0;
	padding: 20px ;
	padding-bottom: 50px;
	background-color: #ffffff;
}

.tchouk:hover ~ .words2 {
	display:block;
	position:absolute;
	left: 508px;
	top:2090px;
	text-align: center;
	font-size: 12px;
	font-family: fantasy;
	p{margin:0}
}

.grad:hover {
	opacity: 1.0;
	padding: 20px ;
	padding-bottom: 70px;
	background-color: #ffffff;
}

.grad:hover ~ .words3 {
	display:block;
	position:absolute;
	left: 718px;
	top:2090px;
	text-align: center;
	font-size: 12px;
	font-family: fantasy;
	p{margin:0}
}

.eeg:hover {
	opacity: 1.0;
	padding: 20px ;
	padding-bottom: 70px;
	background-color: #ffffff;
}

.eeg:hover ~ .words4 {
	display:block;
	position:absolute;
	left: 983px;
	top:2090px;
	text-align: center;
	font-size: 12px;
	font-family: fantasy;
	p{margin:0}
}






/* RESEARCH HIGHLIGHT */

.RES{
	scroll-margin: 150px;
}

.RES h2{
	display: inline-block;
	float: left;
	position: absolute;
	left: 168px;
	top: 2350px;
	font-size: 30px;
	font-family: 'Antic', serif;
	text-align: left;
}

.RHtimeline{
	display: inline-block;
	float:left;
	position: absolute;
	left: 168px;
	top: 2430px;
	font-size: 15px;
	font-family: 'Antic', serif;
	text-align: center;
}

.RH{
	display: inline-block;
	float:right;
	position: absolute;
	left: 280px;
	top: 2430px;
	font-size: 15px;
	font-family: 'Antic', serif;
	text-align: left;
}

/* LETS CONNECT */

.insta{
	display: inline-block;
	float:center;
	position:absolute;
	left:422px;
	top:3309px;
}

.linkedin{
	display: inline-block;
	float:center;
	position:absolute;
	left:648px;
	top:3309px;
}

.whatsapp{
	display: inline-block;
	float:center;
	position:absolute;
	left:874px;
	top:3309px;
}

.CON h2 {
	display: inline-block;
	float:center;
	position:absolute;
	left:572px;
	top:3490px;
	padding-bottom: 200px;
	font-size: 30px;
	font-family: 'Antic', serif;
	text-align: center;
	color: #000000;
}

.CON h3 {
	display: inline-block;
	float:center;
	position:absolute;
	left:652px;
	top:3580px;
	padding-bottom: 200px;
	font-size: 20px;
	font-family: 'Antic', serif;
	text-align: center;
	text-decoration: underline;
	color: #000000;
}
}

/***************/
/***************/
/* iPhone MOBILE VIEW */
/***************/
/***************/

@media only screen and (min-width: 320px) and (max-width: 500px){
nav{
	display: block;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:1;
	font-family: 'Antic', serif;
	font-size: 73%;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF ; 
	background-color: #000000;
	text-decoration: none;
	padding: 15px 0px;
}

a{
	color: #FFFFFF ; 
	text-decoration: none;
	padding: 5px 5px;
}

.material-icons{
	font-size:15px;
}


body{
	background-color:#F2D1D1;
}

/* INTRO PAGE */


.photo img {
	position: absolute; 
	top: 35%;
	display: block;
	height: auto;
	width: 100%;
}

@font-face {
font-family: 'Country Market';
src: url('font/Country Market.ttf'); 
}


h1 {
	display: block;
	position: absolute; 
	text-align: center;
	margin: 20% 0% 5%;
	font-family: 'Country Market';
	font-size: 500%;
	color: #000000;
	font-weight: lighter;
	width: 100%;
}

.quote {
	display: block;
	position: absolute; 
	top:21%;
	left:20%;
	font-family: 'Antic', serif;
	text-align: center;
	color: #000000;
	font-weight: lighter;
	font-size:130%;
	width:70%;
}

/* ABOUT ME PAGE */

.ABT{
	scroll-margin: 70px;
}

.BIO {
    background-color: transparent;
}

.BIO h2 {
	display: block;
	position: absolute;
	top:105%;
	left:12%;
	font-size: 120%;
	font-family: 'Antic', serif;
	text-align: left;
}

.BIO p {
	display: block;
	position: absolute;
	top:110%;
	left:12%;
	width: 80%;
	height: auto;
	font-family: 'Antic', serif;
	text-align: justify;
	font-size: 80%;
}

.SKILLS {
	display: block;
	position: absolute;
	background-color: #ffffff;
	top:140%;
	left:12%;
	width: 60%;
	font-family: 'Antic', serif;
	font-size: 80%;
	text-align: left;
	color:#000000;
	opacity: 0.7;
	padding: 5% 10%;
}


/* EDUCATION PAGE */

.EDU{
	scroll-margin: 100px;
}

.EDU h2{
	display: block;
	float: left;
	position: absolute;
	top:205%;
	left:12%;
	font-size: 120%;
	font-family: 'Antic', serif;
	text-align: left;
}

.EDU img{
	width: 140px;
	height:auto;
}


.tabletennis{
	display: inline-block;
	position: absolute;
	top:215%;
	left:10%;
	height:15%;
	opacity: 0.7;
	padding: 10px 10px 20px 10px;
}

.tchouk{
	display: inline-block;
	position: absolute;
	left: 53%;
	top: 220%;
	width: auto;
	height:20%;
	opacity: 0.7;
	padding: 10px 10px 20px 10px;
}

.grad{
	display: inline-block;
	position: absolute;
	left: 10%;
	top: 235%;
	width: auto;
	height:21%;
	opacity: 0.7;
	padding: 10px 10px 20px 10px;
}

.eeg{
	display: inline-block;
	float: right;
	position: absolute;
	left: 53%;
	top: 245%;
	width: auto;
	height:16%;
	opacity: 0.7;
	padding: 10px 10px 20px 10px;
}

.words1{
	display: none;
}

.words2{
	display: none;
}

.words3{
	display: none;
}


.words4 {
	display: none;
}

.tabletennis:hover {
	opacity: 1.0;
	padding: 10px 10px 20px 10px;
	background-color: #ffffff;
}

.tabletennis:hover ~ .words1 {
	display:block;
	position:absolute;
	left: 17%;
	top: 230.5%;
	text-align: center;
	font-size: 50%;
	font-family: fantasy;
	p{margin:0}
}

.tchouk:hover {
	opacity: 1.0;
	padding: 10px 10px 20px 10px;
	background-color: #ffffff;
}

.tchouk:hover ~ .words2 {
	display:block;
	position:absolute;
	left: 62%;
	top: 240.5%;
	text-align: center;
	font-size: 50%;
	font-family: fantasy;
	p{margin:0}
}

.grad:hover {
	opacity: 1.0;
	padding: 10px 10px 20px 10px;
	background-color: #ffffff;
}

.grad:hover ~ .words3 {
	display:block;
	position:absolute;
	left: 16%;
	top:254.5%;
	text-align: center;
	font-size: 50%;
	font-family: fantasy;
	p{margin:0}
}

.eeg:hover {
	opacity: 1.0;
	padding: 10px 10px 20px 10px;
	background-color: #ffffff;
}

.eeg:hover ~ .words4 {
	display:block;
	position:absolute;
	left: 57%;
	top:259.5%;
	text-align: center;
	font-size: 50%;
	font-family: fantasy;
	p{margin:0}
}






/* RESEARCH HIGHLIGHT */

.RES{
	scroll-margin: 100px;
}

.RES h2{
	display: inline-block;
	float: left;
	position: absolute;
	top:280%;
	left:12%;
	font-size: 120%;
	font-family: 'Antic', serif;
	text-align: left;
}

.RHtimeline{
	display: inline-block;
	float:left;
	position: absolute;
	top:290%;
	left:12%;
	font-size: 80%;
	font-family: 'Antic', serif;
	text-align: center;
}

.RH{
	display: inline-block;
	float:right;
	position: absolute;
	top:290%;
	left:25%;
	padding-right: 7%;
	font-size: 60%;
	font-family: 'Antic', serif;
	text-align: justify;
}

/* LETS CONNECT */

.insta{
	scroll-margin: 70px;
}

.insta{
	display: block;
	position:absolute;
	top:370%;
	margin: 0% 30%;
}

.linkedin{
	display: block;
	position:absolute;
	top:390%;
	margin: 0% 30%;
}

.whatsapp{
	display: block;
	position:absolute;
	top:410%;
	margin: 0% 30%;
}

.CON h2 {
	display: block;
	position:absolute;
	top:430%;
	margin: 0% 15%;
	font-size: 150%;
	font-family: 'Antic', serif;
	text-align: center;
	color: #000000;
}

.CON h3 {
	display: block;
	position:absolute;
	top:435%;
	margin: 0% 30%;
	font-size: 110%;
	padding-bottom: 60%;
	font-family: 'Antic', serif;
	text-align: center;
	text-decoration: underline;
	color: #000000;
}
}
